.toolbar {
	align-items: center;
	padding: var(--gap);
	border-bottom: var(--border);
	background-color: var(--highlight-1);
}

.editor {
	flex: 1 1;
	padding: var(--gap);
	overflow: auto;
	scrollbar-color: var(--highlight-1) var(--bg);

	& > canvas {
		border: var(--border);
		border-radius: var(--border-radius);
	}
}
